body {
    background-image: url("../img/pin-login-bg.jpg");
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    font-family: 'Asap', sans-serif;
  }
  
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  
  .login::before, .login::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  .login::before {
    left: -40%;
    top: 60%;
    background-color: rgba(14, 135, 204, 0.4);
    animation: wawes 6s infinite linear;
  }
  
  .login::after {
    left: -30%;
    background-color: rgba(14, 135, 204, 0.3);
    animation: wawes 7s infinite;
  }
  
  .login > input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 2px solid #0a6ea8;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  
  .login > button {
    font-family: 'Asap', sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #0E87CC;
    transition: background-color 300ms;
  }
  
  .login > button:hover {
    background-color: #0a6ea8; /* darken($redFire, 5%) calculated */
  }
  
  @keyframes wawes {
    from { transform: rotate(90); }
    to { transform: rotate(180deg); }
  }
  
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }

  form h1 {
    margin: 0;
    color: #0a6ea8;
    text-align: center;
  }